torch>=2.0.0
torchaudio>=2.0.0
transformers>=4.36.0
datasets>=2.10.0
evaluate>=0.4.0
librosa>=0.10.0
jiwer>=3.0.0
numpy>=1.23.0
scipy>=1.10.0
pandas>=1.5.0
audioread>=3.0.0
soundfile>=0.12.1
tokenizers>=0.13.0
specAugment @ git+https://github.com/saeedzou/SpecAugment.git@f3fa644d8c3596ce3f1fa60cc0602886198988d5
